html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}


#main {
	position: static;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

#app {
	width: 100%;
	height: 100%;
}

.homepage {
	background-color: black;
}

.introMain {
	margin: 0px;
	height: auto;
	color: white;
	background-image: linear-gradient(rgba(14, 39, 77, 1), black);
}

.backgroundCover {
	position: relative;
}